:root {
    --bg-color-fondo: #323232;
    --bg-color-fondo-300: #011640;
    --bg-color-fondo-200: #201e59;
    --bg-color-principal: #b600ff;
    --bg-color-principal-300: #323232;
    --bg-color-principal-200: #ee56ff;
    --bg-color-accent: #0840b8;
    --bg-color-accent-200: #88c8f0;
    --color-texto-blanco: #e0e0e0;
    --color-texto-negro: #2a2a2a;
    --b-radius-xl: 1em;

}

.bg-color-fondo {
    background-color: var(--bg-color-fondo);
}

.bg-color-fondo-300 {
    background-color: var(--bg-color-fondo-300);
}

.bg-color-fondo-200 {
    background-color: var(--bg-color-fondo-200);
}

.bg-color-principal {
    background-color: var(--bg-color-principal);
}

.bg-color-principal-300 {
    background-color: var(--bg-color-principal-300);
}

.bg-color-principal-200 {
    background-color: var(--bg-color-principal-200);
}

.bg-color-accent {
    background-color: var(--bg-color-accent);
}

.bg-color-accent-200 {
    background-color: var(--bg-color-accent-200);
}

.color-texto-blanco {
    color: var(--color-texto-blanco) !important;
}

.color-texto-negro {
    color: var(--color-texto-negro);
}

/*Estructura página*/
main .menu-vertical {
    display: grid;
    grid-template-areas:
        "head head head"
        "aside content content"
        "foot foot foot";
    grid-template-columns: 25% auto auto;
}

nav {
    position: sticky;
    top: 0;
    background-color: linear-gradient(93deg, #070C3D 5%, #0A1053 19%, #101152 32%, #1D1A4F 37%, #1B1C4F 47%, #19194E 98%);
    color: white;
}

nav {}

header {
    grid-area: head;
}

aside {
    grid-area: aside;
}

section {
    grid-area: content;
}

footer {
    grid-area: foot;
}

@media screen and (min-width: 1650px) {
    main {
        max-width: 1650px;
        width: 1560px;
    }
} 

@media screen and (max-width: 768px) {
    main .menu-vertical {
        display: grid;
        grid-template-areas:
            "head head head"
            "aside aside aside"
            " content content content"
            "foot foot foot";
        grid-template-columns: auto;
    }
}

.menu-vertical aside {
    margin-right: 5px;
}

.b-radius-xl {
    border-radius: var(--b-radius-xl);
}

textarea {
    width: 100%;
}

form button[type=submit] {
    background-color: initial;
}

.btn-principal {
    background: linear-gradient(45deg, #b600ff, var(--bg-color-principal-200)) !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: var(--b-radius-xl);

    box-shadow: 0px 0px 3px 0px #00e4ff,
        0 0 1px 1px #010707,
        0 0 1px 0px #385558
}

.btn-principal:hover {
    background: linear-gradient(45deg, #00e1ff, var(--bg-color-accent-200)) !important;
    transform: scale(1.1);
    transition: transform .3s;
    /*box-shadow: 0 0 10px red, 0 0 40px red, 0 0 40px red;*/
    color: var(--bg-color-principal-300);
}

.bg-hover-principal:hover {
    background: radial-gradient(95.57% 95.57% at 1.71% 0%, rgba(35, 33, 88, 0.89) 39.58%, rgba(91, 42, 109, 0.89) 100%);
    transform: scale(1.05);
    transition: transform .3s;
    box-shadow: 0px 0px 3px 2px #00e4ff, 0 0 0px 1px #010707, 0 0 9px 4px #385558;
}

.texto-input-centro {
    text-align: center;
    line-height: 48px;
}

.blue-shadow {
    box-shadow: 0px 0px 3px 0px #00e4ff,
        0 0 1px 1px #010707,
        0 0 1px 0px #385558
}