html {
    background-color: var(--bg-color-fondo-300);
}

nav {
    position: fixed;
    z-index: 100;
    width: 100%;

}

h1 {
    font-size: 10px !important;
}

/********** Layout Style **********/
.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    margin-top: 75px;
}

.wrapper .sidebar {
    position: relative;
    width: 100%;
    float: left;
    padding: 30px;
}

.wrapper .sidebar-icon {
    /* display: none; */
}

.wrapper .content {
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;

}

.wrapper .sidebar,
.wrapper .content {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.wrapper .sidebar-icon {
    margin-right: -18px;
    visibility: hidden;
    height: 0 !important;
}

@media (min-width: 768px) {
    .wrapper .content {
        padding: 0px 30px;
    }

    main .wrapper::before {
        position: fixed;
        content: "";
        width: 100%;
        height: 50px;
        top: 47px;
        background-color: var(--bg-color-fondo-300);
        z-index: 9;
    }


    .wrapper .content::after {
        bottom: 0;
    }

    .wrapper .sidebar {
        position: fixed;
        width: 350px;
        height: 85%;
        margin-left: -300px;
        float: left;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: gray;
        z-index: 9;
    }

    .wrapper .sidebar:hover {
        margin-left: 0px;
    }

    .wrapper .sidebar-text {
        /* display: none; */
    }

    .wrapper .sidebar-icon {
        display: flex;
    }

    .wrapper .content {
        position: relative;
        width: calc(100% - 50px);
        margin-left: 50px;
        float: right;
    }

    .wrapper .sidebar::-webkit-scrollbar {
        width: 7px;
    }

    .wrapper .sidebar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    .wrapper .sidebar::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 7px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .wrapper .sidebar {
        z-index: 99;
    }

    .wrapper .sidebar-text,
    .wrapper .sidebar:hover .sidebar-icon {
        visibility: hidden;
        height: 100 !important;
    }

    .wrapper .sidebar-icon,
    .wrapper .sidebar:hover .sidebar-text {
        visibility: visible;
        height: 100% !important;
    }
}

@media (min-width: 992px) {
    .wrapper .sidebar {
        margin: 0;
    }

    aside #sidebar-foto {
        margin: 0;
        height: 100% !important;
    }

    .wrapper .content {
        width: calc(100% - 350px);
        margin-left: 350px;
    }
}

@media (max-width: 1140px) {
    .wrapper .content {
        padding: 0px 30px;
    }
}

@media (max-width: 576px) {
    .wrapper .content {
        padding: 15px;
    }
}