/*Buscador*/
/**************/
.buscador {
    position: absolute;
    padding: 10px;

}

input {
    outline: none;
    box-sizing: border-box;
    height: 25px;
    width: 0px;
    padding: 0 10px;
    color: #000;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid var(--bg-color-accent-200);
    transition: all .7s ease;
}

::placeholder {
    color: grey;
}

.lupa {
    position: absolute;
    right: 0px;
    top: 9px;
    width: 28px;
    height: 28px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.lupa svg {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

.buscador:hover input {
    width: 200px;
    padding: 5px;

}

.buscador:hover svg {
    transform: rotate(-360deg);
    background: var(--bg-color-accent-200);
    border-radius: 50%;

}

.lupa:hover {
    background: var(--bg-color-accent-200);
}

/**********************/
/***Filtro salario***/
/*********************/
.wrapper {
    width: 100%;
}

.filtros .listado_filtros {
    max-width: 100%;
}

.filtros label,
.filtros #toggle {
    display: none;
}

.criterios-ordenacion label,
.criterios-ordenacion #toggle-criterios {
    display: none;
}

.criterios-ordenacion #toggle-criterios svg {
    color: white;
    width: 20px;
}

.criterios-ordenacion .criterios {
    display: flex;
}


.filtro-salario {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 8px 25px;
    background-color: transparent;
}

.salary-input {
    margin: 10px 0 35px;
    display: flex;
    width: 100%;
}

.salary-input .field {
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    font-size: 14px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.salary-input .separator {
    width: 10px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    background-color: gray;
    border-radius: 10px;
    position: relative;
}

.slider .progress {
    height: 5px;
    left: 1%;
    right: 1%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--bg-color-accent-200);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -6px;
    height: 7px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"] {
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: var(--bg-color-accent-200);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background-color: var(--bg-color-accent-200);
}



/**********************************/
/***********Vacantes***********/
/**********************************/
.vacantes {
    max-width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.range {
    height: 80px;
    width: 380px;
    border-radius: 10px;
    padding: 0 35px 0 35px;
}

.range .sliderValue {
    position: relative;
    text-align: center;
    width: 100%;
}

.range .sliderValue #spanVacantes {
    position: absolute;
    height: 45px;
    width: 45px;
    top: -40px;
    transform: translate(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}

.range .sliderValue #spanVacantes.show {
    transform: translate(-50%) scale(1);
}


.range .sliderValue #spanVacantes::after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background-color: var(--bg-color-principal);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid var(--bg-color-accent-200);
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.range .field .value {
    position: absolute;
    font-size: 16px;
}

.range .field .value.left {
    left: -22px;
}

.range .field .value.right {
    right: -43px;
}

.range .field input {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: var(--bg-color-accent-200);
    border-radius: 5px;
    outline: none;
    border: none;
}

.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--bg-color-accent-200);
    border-radius: 50%;
    border: 1px solid magenta;
    cursor: pointer;
}

.range .field input::-moz-range-progress {
    background-color: var(--bg-color-accent-200);
}

.top110px {
    top: 110px;
}

.top58px {
    top: 58px;
}


.wraper2-mobile {
    top: 111px;
}



@media (max-width: 768px) {
    aside {
        max-width: 100% !important;
        left: 0;
    }

    aside div:first-child {
        display: flex;
        justify-content: center;

    }

    .buscador {
        max-width: 365px;
        margin-top: 25px;
    }

    .buscador:hover input {
        width: 350px;
    }

    .filtros {
        border-width: 0;
        border-radius: 0%;
    }

    nav {
        width: 100%;
    }

    .filtros .listado_filtros {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .filtros label {
        display: inline-flex;
        cursor: pointer;
    }

    .filtros #toggle:checked~.listado_filtros {
        height: 100%;
    }


    .criterios-ordenacion .criterios {
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
    }

    .criterios-ordenacion label {
        display: inline-flex;
        color: white;
        cursor: pointer;
    }

    .criterios-ordenacion #toggle-criterios:checked~.criterios {
        height: 100%;
    }

    section {
        margin-top: 100px;
    }

}

@media (max-width: 425px) {
    .buscador {
        max-width: 310px;
        margin-top: 25px;
    }

    .buscador:hover input {
        width: 295px;
    }
}

/**********************************/
/********Botón submit********/
/**********************************/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background: radial-gradient(95.57% 95.57% at 1.71% 0%, rgba(35, 33, 88) 39.58%, rgba(91, 42, 109) 100%);
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 5;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out top 1000ms ease-in-out transform 1000ms ease-in-out;
    position: fixed;
}

.popup.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}



.popup .icon {
    margin: 2px 0px;
    width: 80px;
    height: 80px;
    border: 4px solid rgb(0, 255, 13);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon svg {
    max-width: 130px;
}

.popup .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 900px;

}

.popup .description {
    column-rule: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background-color: #111;
    color: white;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: all 300 ease-in-out;
}

.popup>div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active>div {
    top: 0px;
    opacity: 1;
}

.popup.active svg {
    transition: all 300ms ease-in-out 250ms;
}

.popup.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}